* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.mainConteiner {
  background-image: url("./assets/devImg.png");
  background-size: cover;
  height: 100vh;
  display: block;
}
header {
  display: block;
  color: #fff;
  padding-top: 25px;
  padding-left: 39px;
  padding-bottom: 150px;
}
.header h2 {
  display: inline;
  font-weight: bold;
  font-size: 34px;
  letter-spacing: 0.1px;
}
.header ul {
  display: inline;
  position: relative;
  left: 117px;
  list-style-type: none;
}
.header li {
  display: inline;
  font-weight: 600;
  letter-spacing: 0.2px;
  margin-right: 21px;
  color: #fff;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.mainConteiner h1 {
  display: inline;
  float: left;
  font-size: 58px;
  letter-spacing: 0.2px;
  color: #fff;
  margin-top: 240px;
  margin-left: 65px;
}
form {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s solid;
  box-sizing: content-box;
  background-color: #ffffff;
  border-radius: 10px;
  float: right;
  position: relative;
  right: 45px;
}
.formulariooo {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}
.formContainer, #form {
  background-color: #fff;
  border-radius: 10px;
  float: right;
  padding: 20px;
  margin-right: 50px;
  position: relative;
  bottom: 130px;
  width: 340px;
}
.h3b {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252b42;
  padding: 0px 0px 18px 0px;
}
.label {
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: #252b42;
  text-align: center;
  margin-left: 18px;
}
label p {
  margin: 5px 0px;
  color: #252b42;
}
input {
  width: 300px;
  height: 50px;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  display: block;
  padding-left: 21px;
}
.textarea {
  width: 300px;
  height: 100px;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  display: block;
  margin-bottom: 10px;
  color: #252b42;
  padding-left: 21px;
  padding-top: 11px;
}
.button {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.2px;
  background: #40bb15;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  border: 1px solid #40bb15;
  cursor: pointer;
}

/* parte do meio abaixo */
.services {
  height: 80vh;
}
.services h1 {
  color: #252b42;
  display: block;
  margin: 77px 0px 89px 535px;
  margin-top: 77px;
  margin-top: 77px;
}
.card {
  background: #eef6ff;
  display: inline-block;
  margin-right: 33px;
  width: 328px;
  height: 240px;
  list-style-position: inside;
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: 11px 11px 11px 11px;
}
.cards {
  margin-left: 135px;
}
h5 {
  border-radius: 11px 11px 0px 0px;
  background: #219653;
  width: 326px;
  height: 84px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  line-height: 84px;
  margin-bottom: 30px;
}
.ul {
  color: #737373;
  margin-top: 10px;
}
/* sobre */
.aboutUs {
  background: #252b42;
}
.about {
  font-size: 40px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding-top: 60px;
}
.p {
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  font-size: 18px;
  padding: 90px 50px 50px 80px;
}
